.body{
    width: 100%;
    min-height: 50vh;
    background-color: rgba(0, 0, 0, 0.267);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.671);
    width: 30%;
    height: 40%;
}