.header{
    display: flex;
    justify-content: center;
}





/* ------------------------------ EJEMPLOS DE CLASE 11/10 Y 13/10  ------------------------------- */

/* .header{
    border-bottom: 1px black solid;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
} */