.footer{
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
}



/* ------------------------------ EJEMPLOS DE CLASE 11/10 Y 13/10  ------------------------------- */

/* .footer{
    text-align: center;
} */